* { /*Estilos en general*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body { /*fondo fondo verde*/
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    #00A884 0%,
    #00A884 130px,
    #d9dbd5 130px,
    #d9dbd5 100%
  );
}

.container { /*Contenedor del chat en sí*/
  position: relative;
  width: 1298px;
  max-width: 100%;
  height: calc(100vh - 40px);
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.06);
  display: flex;
}

.container .rightSide { /*Estilizador del fondo del chat*/
  position: relative;
  flex: 70%;
  background: #e5ddd5;
} 

.container .rightSide::before { /*Imagen del fondo del chat*/
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("images/pattern.png");
  opacity: 0.06;
}

.header { /*parte de arriba, la usaré para hacer los botones de cambiar de vista de usuario, escoger archivos y cambiar idioma*/
  position: relative;
  width: 100%;
  height: 80px; /*originalmente 60px*/
  background: #ededed;
  display:inline-block;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.message_p { /*sigue funcionando despues de eliminado*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message_p b { /*sigue funcionando despues de eliminado*/
  background: #06d755;
  color: #fff;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}

.message_p p { /*sigue funcionando despues de eliminado*/
  color: #aaa;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  font-size: 0.9em;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imgText { /*Título del nombre de usuario*/
  font-weight: 500;
  line-height: 1.2em;
  margin-left: 15px;
  margin-right: 15px  ;
  padding-top: 8px;
  text-overflow: ellipsis;
}

.imgText span{ /*estilo de "online" abajo del nombre de usuario*/
  font-size: 0.8em;
  color: #555;
}

/* CHAT BOX */
.chatbox { /*muy importante, no eliminar xd, analiza luego*/
  position: relative;
  width: 100%;
  height: calc(100% - 80px); /*esto configura la altura del chatbox en si*/
  padding: 50px;
  overflow-y: auto;
}

.message { /*posicionador de cuadros de mensajes*/
  position: relative;
  display: flex;
  width: 100%;
  margin: 5px 0;
}

.message p {  /*creador de los cuadros de colores de los mensajes*/
  position: relative;
  right: 0;
  text-align: left;
  max-width: 65%;
  padding: 12px;
  background: #dcf8c8;
  border-radius: 10px;
  font-size: 0.9em;
}

.message p::before { /*triangulito al lado de los mensajes*/
  content: "";
  position: absolute;
  top: 0;
  right: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(
    135deg,
    #dcf8c6 0%,
    #dcf8c6 50%,
    transparent 50%,
    transparent
  );
}

.message p span { /*script que hace pequeña la hora en los mensajes*/
  display: block;
  margin-top: 5px;
  font-size: 0.85em;
  opacity: 0.5;
}

.my_msg { /*establece la posicion de los cuadros de mensajes enviados por el usuario1*/
  justify-content: flex-end;
}

.friend_msg { /*establece la posicion de los cuadros de mensajes enviados por el usuario2*/
  justify-content: flex-start;
}

.friend_msg p { /*se asegura de poner blanco los mensajes del usuario2*/
  background: #fff;
  text-align: left;
}

.message.friend_msg p::before { /*pone a la izquierda los triangulos al lado de los mensajes*/
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(
    225deg,
    #fff 0%,
    #fff 50%,
    transparent 50%,
    transparent
  );
}

/*botones del contenedor*/
.button1 {
  border-radius: 10px;
  background-color: #25D366;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 13px;
  width: 24%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0.4%;
  margin-top: 8px;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.1s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.1s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}

/*boton 2*/
.button2 {
  border-radius: 10px;
  background-color: #25D366;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding-top: 16px;
  padding-bottom: 10px;
  width: 24%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0.4%;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.1s;
}

.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.1s;
}

.button2:hover span {
  padding-right: 25px;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}

/*doble boton*/
.button3 {
  background-color: #075E54; /* Green */
  border: 1px solid green;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  color: white;
  height: 50px;
  width: 24.5%;
  font-size: 16px;
  cursor: pointer;
  margin-top: 8px;
  align-items: center;
  display: inline-block;
  right: 25%;
  position: absolute;
}

.button3:hover {
  background-color: #3e8e41;
}

.button4 {
  background-color: #FFFFFF; /* Green */
  border: 1px solid green;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  color: black;
  height: 50px;
  width: 24.5%;
  font-size: 16px;
  cursor: pointer;
  margin-top: 8px;
  align-items: center;
  display: inline-block;
  float: right;
}

.button4:hover {
  background-color: #3e8e41;
}
